// @import "@scss/imports/extends";
// @import "@scss/imports/mixins";
// @import "@scss/imports/variables";

.dashboard {
	display: flex;
	flex-grow:1;
	flex-direction: column;
	align-items: center;
	.logout {
		height: 40px;
		width: 150px;
	}
}
