@import "@scss/imports/extends";
@import "@scss/imports/mixins";
@import "@scss/imports/variables";

.dashboard {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   align-items: center;
   .logout {
      height: 40px;
      width: 150px;
   }
}
.wish-list--container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   max-width: 1100px;
}
.wish-list {
   display: flex;
   flex-direction: column;
   cursor: pointer;
}
.wish-list--item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   column-gap: 20px;
   padding: 20px 0;
   list-style-type: none;
   height: 2rem;
   line-height: 2rem;
   font-size: 1.2rem;
   border-bottom: 1px solid rgba($main-black, 0.1);
   &:hover {
      background-color: rgba(127, 127, 127, 0.1);
   }
}
.wish-list__drag-icon {
   font-size: 1rem;
   color: $main-white;
}

.wish-list__position {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 25px;
   width: 25px;
   border-radius: 50%;
   background: linear-gradient($main-orange, $light-orange);
   color: $main-white;
   font-size: 1rem;
   font-weight: bold;
}

