// @import "./imports/extends";
// @import "./imports/mixins";
// @import "./imports/variables";
// .login {
// 	display: flex;
// 	flex-direction: column;
// 	flex-grow: 1;
// 	margin: 0 auto;
// 	padding: 30px 0;
// 	width: 100%;
// 	max-width: $form-width;
// 	h1 {
// 		text-align: left;
// 		margin-bottom: 0px;
// 	}
// 	h2 {
// 		opacity: 0.65;
// 		margin: 10px 0 20px 0;
// 	}

// 	.login-form {
// 		display: flex;
// 		flex-direction: column;
// 		margin-bottom: 20px;
// 		input {
// 			outline: none;
// 			padding: 10px 30px;
// 			margin: 10px 0 20px 0;
// 			transition: outline 0.2s ease-out;
// 			&:focus {
// 				outline: 1px solid $main-blue;
// 				background-color: gold;
// 			}
// 		}
// 		input[type="email"],
// 		input[type="password"] {
// 			background-color: white;
// 			border: 1px solid rgba(black, 0.3);
// 			border-radius: 6px;
// 			font-size: 0.9rem;
// 		}
// 		label {
// 			font-weight: bold;
// 			font-size: 1.1rem;
// 		}
// 	}
// 	.login-remember-forgot-container {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 	}
// 	.login-remember-container {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		height: 1.5rem;
// 		font-weight: bold;
// 		input {
// 			background-color: inherit;
// 			margin: auto;
// 			height: 1rem;
// 			width: 1rem;
// 			margin-right: 0.5rem;
// 		}
// 	}
// 	.login-forgot {
// 		font-weight: bold;
// 		color: inherit;
// 		text-decoration: none;
// 		&:hover {
// 			text-decoration: underline;
// 		}
// 	}
// 	.login-submit {
// 		background-color: $dark-blue;
// 		color: $main-white;
// 		font-weight: bold;
// 		border: none;
// 		border-radius: 6px;
// 		padding: 15px 0;
// 		font-size: 1.2rem;
// 		transition: background-color 0.1s ease-in;
// 		margin-top: 20px;
// 		box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
// 			rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
// 		&:hover {
// 			background-color: $darkest-blue;
// 		}
// 	}

// 	.no-account {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		text-align: center;
// 		font-weight: bold;
// 		p {
// 			opacity: 0.7;
// 			margin-right: 10px;
// 		}
// 		a {
// 			color: inherit;
// 			opacity: 1;
// 		}
// 	}
// }

// .provider {
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-around;
// 	padding: 10px 15%;
// 	background-color: $main-white;
// 	border: 1px solid $main-gray;
// 	text-decoration: none;
// 	color: $main-black;
// 	font-weight: bold;
// 	border-radius: 6px;
// 	font-size: 1.2rem;
// 	transition: all 0.1s ease-out;
// 	margin-top: 20px;
// 	cursor: pointer;
// 	&:hover {
// 		background-color: white;
// 	}
// }
@import "./imports/variables";
@import "./imports/mixins";

.login {
   display: flex;
   flex-grow:1;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.form {
   align-items: center;
   width: 300px;
   border: 1px solid $main-gray;
   border-radius: 8px;
   padding: 10px;
   h1 {
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center;
   }
   div[role="group"] {
      margin-top: 10px;
   }
}

.bar {
   @include bar(90%);
}
.submit {
   margin-top: 20px;
   width: 100%;
}
.link {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}
.serverError {
   color: $main-red;
}
