@import "../../scss/extends";
@import "../../scss/mixins";
@import "../../scss/variables";
#register {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 0 auto;
	padding: 30px 0;
	width: 100%;
	max-width: $form-width;
	h1 {
		text-align: left;
		margin-bottom: 0px;
	}
	h2 {
		opacity: 0.65;
		margin-top: 10px;
	}
}
#register-form {
	display: flex;
	flex-direction: column;
	input {
		padding: 10px 30px;
		margin: 10px 0 20px 0;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		background-color: white;
		border: 1px solid rgba(black, 0.3);
		border-radius: 6px;
		font-size: 0.9rem;
	}
	label {
		font-weight: bold;
		font-size: 1.1rem;
	}
}

#register-submit {
	background-color: $dark-blue;
	color: $main-white;
	font-weight: bold;
	border: none;
	border-radius: 6px;
	padding: 15px 0;
	font-size: 1.2rem;
	transition: background-color 0.1s ease-in;
	margin-top: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
	&:hover {
		background-color: $darkest-blue;
	}
}
#register-password-information {
	font-weight: bold;
	margin: 0;
}

#yes-account {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: bold;
	p {
		opacity: 0.7;
		margin-right: 10px;
	}
	a {
		color: inherit;
		opacity: 1;
	}
}