@mixin bar($height, $width, $leftColor, $rightColor) {
	background: linear-gradient(90deg, $leftColor 1.05%, $rightColor 100%);
	height: $height;
	width: $width;
}
@mixin btn($height, $width, $leftColor, $rightColor) {
    display:flex;
    justify-content: center;
    align-items: center;
	height: $height;
	width: $width;
	border: none;
	border-radius: $height;
	font-size: calc($height/3.1);
	text-transform: uppercase;
    text-decoration:none;
	font-weight: 500;
	color: $main-white;
	background: linear-gradient(90deg, $leftColor 1.05%, $rightColor 100%);
	cursor: pointer;
}

@mixin btnBorder($height, $width, $leftColor, $rightColor) {
    display:flex;
    justify-content: center;
    align-items: center;
	height: $height;
	width: $width;
	background: transparent;
	border: 1px solid $main-orange;
	border-radius: $height;
	color: inherit;
	text-transform: uppercase;
    text-decoration: none;
	font-size: calc($height/3.1);
	cursor: pointer;
	&:hover {
		border: none;
        color:$main-white;
		background: linear-gradient(90deg, $leftColor 1.05%, $rightColor 100%);
	}
}
