// Breakpoints
$laptop:"(min-width:768px) and (max-width:1024px)";
$tablet:"(min-width:425px) and (max-width:768px)";
$mobileL:"(min-width:375px) and (max-width:425px)";
$mobileM:"(min-width:320px) and (max-width:375px)";
$mobileS:"(max-width: 320px)";

// Variables
$nav-height: 60px;
$form-width:500px;
$main-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
$orange: #ff9f43;
$white:white;
$black: black;
$main-white: #f1f1f1;
// $dark-white: #cfcfcf;
$dark-white: #bebebe;
$main-gray:#5E6268;
$light-black: #222222;
$main-black: #1b1b1b;
$main-blue: #74b9ff;
// $dark-blue: #217dda;
$dark-blue:#3568FF;
$darkest-blue:#255af8;

$main-green:rgb(32, 233, 122);
$main-red:rgb(241, 44, 44);
$dark-red:rgb(160, 22, 22);
$main-yellow: #f1c40f;
$main-pink: #bb24a7;

$bg-dark:#101010;
$bg-dark-2: #1b1b1b;

$main-orange: #F02D51;
$light-orange:#F2721A;
$light-orange-hover: #d66214;