.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;
  max-width: 500px;
}
#login h1 {
  text-align: left;
  margin-bottom: 0px;
}
#login h2 {
  opacity: 0.65;
  margin-top: 10px;
}
#login .connect-with {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 0;
  background-color: #f1f1f1;
  border: 1px solid #5E6268;
  text-decoration: none;
  color: #1b1b1b;
  font-weight: bold;
  border-radius: 6px;
  padding: 15px 0;
  font-size: 1.2rem;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  margin-top: 20px;
  cursor: pointer;
}
#login .connect-with img {
  position: absolute;
  left: 30px;
  height: 35px;
  width: 35px;
}
#login .connect-with:hover {
  background-color: white;
}

#login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#login-form input {
  outline: none;
  padding: 10px 30px;
  margin: 10px 0 20px 0;
  -webkit-transition: outline 0.2s ease-out;
  transition: outline 0.2s ease-out;
}
#login-form input:focus {
  outline: 1px solid #74b9ff;
  background-color: gold;
}
#login-form input[type=email],
#login-form input[type=password] {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  font-size: 0.9rem;
}
#login-form label {
  font-weight: bold;
  font-size: 1.1rem;
}

#login-remember-forgot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login-remember-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5rem;
  font-weight: bold;
}
#login-remember-container input {
  background-color: inherit;
  margin: auto;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

#login-forgot {
  font-weight: bold;
  color: #1b1b1b;
  text-decoration: none;
}

#login-submit {
  background-color: #3568FF;
  color: #f1f1f1;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 15px 0;
  font-size: 1.2rem;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  margin-top: 20px;
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
#login-submit:hover {
  background-color: #255af8;
}

#no-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: bold;
}
#no-account p {
  opacity: 0.7;
  margin-right: 10px;
}
#no-account a {
  color: inherit;
  opacity: 1;
}/*# sourceMappingURL=login.css.map */