#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 60px;
  min-height: 60px;
  padding: 0px 60px;
  margin-top: 0px;
  width: 100%;
  background-color: #f1f1f1;
  color: #1b1b1b;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
#nav .responsive-icon {
  font-size: 2rem;
  margin-right: 20px;
}
#nav .hamburger-active {
  color: red;
}
#nav .responsive-icon {
  display: none;
  cursor: pointer;
}
#nav .nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto;
  text-decoration: none;
  cursor: pointer;
  color: #1b1b1b;
}
#nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: relative;
  color: #5E6268;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 0 30px 0 15px;
  border: none;
}
#nav .basic-link {
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
#nav .basic-link:hover {
  color: #1b1b1b;
}
#nav .basic-link::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 60%;
  border: 1px solid #74b9ff;
  border-radius: 20px 20px 0 0;
  background-color: #74b9ff;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}
#nav .basic-link:hover::before {
  opacity: 1;
}
#nav .dropdown-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 75%;
  width: 180px;
  padding: 0 30px;
  margin: 0 15px;
  color: #1b1b1b;
  border: 1px solid #bebebe;
  border-radius: 5px;
  line-height: 0;
  cursor: pointer;
}
#nav .dropdown-btn .dropdown-btn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}
#nav .dropdown-btn .dropdown-icon {
  margin-left: 10px;
  font-size: 1.2rem;
}
#nav .dropdown-btn:hover {
  background-color: rgba(27, 27, 27, 0.05);
}
#nav .dropdown-content {
  position: absolute;
  top: 42px;
  right: 0;
  min-width: 180px;
}
#nav .dropdown-content ul {
  list-style-type: none;
  background-color: white;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 0;
  margin: 0;
}
#nav .dropdown-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 2.5rem;
  color: #1b1b1b;
}
#nav .dropdown-content ul li:hover {
  border-radius: 6px;
  background-color: rgba(53, 104, 255, 0.1);
}
#nav .dropdown-content ul li .dropdown-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
}
#nav .btn-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F2721A;
  color: #f1f1f1;
  font-weight: bold;
  font-family: sans-serif;
  width: 180px;
  height: 70%;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
  margin: 0 30px 0 15px;
  display: flex;
}
#nav .btn-link:hover {
  background-color: #d66214;
}
#nav .dashboard-icon {
  font-size: 2.5rem;
  color: #3568FF;
  cursor: pointer;
  margin-right: 40px;
}
#nav .dark-mode-icon {
  margin-left: 60px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #nav .btn-link {
    font-size: 1rem;
  }
  #nav .responsive-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}/*# sourceMappingURL=navbar.css.map */