@import "./imports/extends";
@import "./imports/mixins";
@import "./imports/variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	padding: 0;
	min-height: calc(100vh - 150px - 60px);
	font-family: "Roboto", sans-serif;
	.bar-section {
		@include bar(2px, 100%, $light-orange, $main-orange);
	}
	.landing-main {
		display: flex;
		justify-content: center;
		max-width: 1100px;
		overflow: hidden;
	}
	.landing-main_left {
		font-size: 1.8rem;
		width: 50%;
		h1 {
			text-align: left;
			font-size: 2rem;
		}
		h2 {
			font-size: 1.5rem;
		}
		p {
			font-size: 1.1rem;
			line-height: 1.8rem;
			text-align: justify;
		}
		.bar {
			@include bar(5px, 150px, $light-orange, $main-orange);
		}
	}
	.landing-main_right {
		display: flex;
		flex-direction: column-reverse;
		padding-left: 60px;
	}

	.btn-container {
		display: flex;
		width: 100%;
		justify-content: space-around;
		.btn1 {
			@include btn($nav-height, 45%, $light-orange, $main-orange);
		}
		.btn2 {
			@include btnBorder($nav-height, 45%, $light-orange, $main-orange);
		}
	}
	#overview {
		background-color: $bg-dark-2;
		width: 100%;
		padding-bottom: $nav-height;
		border-bottom: 2px solid rgba(255, 255, 255, 0.192);
		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 1100px;
			margin: 0 auto;
		}
		h3 {
			display: flex;
			align-items: center;
			font-size: 2rem;
			align-self: flex-start;
			margin-left: $nav-height;
			.bar {
				margin: 0px 30px 0px 0px;
				@include bar(5px, 100px, $light-orange, $main-orange);
			}
		}
		.article-container {
			display: flex;
			width: 100%;
			justify-content: space-evenly;
			flex-wrap: wrap;
			gap: 30px;
			padding: 0 $nav-height;
		}
	}
	#simulateur {
		.section-content {
			flex-direction: row-reverse;
		}
	}
	.landing-sections {
		position: relative;
		width: 100%;
	}
	.bg-rect {
		position: absolute;
		opacity: 0.15;
		z-index: -1;
	}
	#bg-rect-1 {
		top: 140px;
		// left:60px;
	}
	#bg-rect-2 {
		bottom: 0;
		right: 0;
	}
}
@media screen and #{$laptop} {
	.landing {
		.landing-main {
			height: 650px;
		}
		.landing-main_left {
			width: 300px;
		}
		.btn-container {
			flex-direction: column;
			height: 150px;
			justify-content: space-around;
			.btn1 {
				@include btn($nav-height, 100%, $light-orange, $main-orange);
			}
			.btn2 {
				@include btnBorder($nav-height, 100%, $light-orange, $main-orange);
			}
		}
	}
}
@media screen and #{$tablet} {
	.landing {
		.landing-main {
			flex-direction: column;
			align-items: center;
		}
		.landing-main_left {
			width: 90%;
		}
		.landing-main_right {
			padding-left: 0;
		}
		.landing-main_right img {
			height: 400px;
		}
	}
}
@media screen and #{$mobileL} {
	.landing {
		.landing-main {
			flex-direction: column;
			align-items: center;
		}
		.landing-main_left {
			width: 90%;
		}
		.btn-container {
			height: 200px;
			flex-direction: column;
			width: 100%;
			.btn1 {
				@include btn($nav-height, 100%, $light-orange, $main-orange);
			}
			.btn2 {
				@include btnBorder($nav-height, 100%, $light-orange, $main-orange);
			}
		}
		.landing-main_right {
			padding-left: 0;
		}
		.landing-main_right img {
			height: 400px;
		}
	}
}
@media screen and #{$mobileM} {
	.landing {
		.landing-main {
			flex-direction: column;
			align-items: center;
		}
		.landing-main_left {
			width: 90%;
		}
		.btn-container {
			height: 200px;
			flex-direction: column;
			width: 100%;
			.btn1 {
				@include btn($nav-height, 100%, $light-orange, $main-orange);
			}
			.btn2 {
				@include btnBorder($nav-height, 100%, $light-orange, $main-orange);
			}
		}
		.landing-main_right {
			padding-left: 0;
		}
		.landing-main_right img {
			height: 350px;
		}
	}
}
@media screen and #{$mobileS} {
	.landing {
		.landing-main {
			flex-direction: column;
			align-items: center;
		}
		.landing-main_left {
			width: 90%;
		}
		.btn-container {
			height: 200px;
			flex-direction: column;
			width: 100%;
			.btn1 {
				@include btn($nav-height, 100%, $light-orange, $main-orange);
			}
			.btn2 {
				@include btnBorder($nav-height, 100%, $light-orange, $main-orange);
			}
		}
		.landing-main_right {
			padding-left: 0;
		}
		.landing-main_right img {
			height: 200px;
		}
	}
}
