@import "./imports/extends";
@import "./imports/mixins";
@import "./imports/variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.simulator {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	padding: 0;
	font-family: "Inter", sans-serif;
	background-size: cover;
	background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(20)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M20-5V5m0 30v10m20-30v10M0 15v10'  stroke-linejoin='round' stroke-linecap='round' stroke-width='2' stroke='hsla(259, 0%, 58%, 0.14)' fill='none'/><path d='M-5 40H5M-5 0H5m30 0h10M35 40h10M15 20h10'  stroke-linejoin='round' stroke-linecap='round' stroke-width='2' stroke='hsla(340, 0%, 40%, 0.18)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-100,0)' fill='url(%23a)'/></svg>");
	background-repeat: no-repeat;
	h1 {
		text-align: center;
	}
	h2 {
		margin: 0;
	}
	.simulator-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 0 auto;
		align-items: center;
		padding: 0 auto;
		padding-top: 30px;
		width: 80%;
		height: 100%;
		max-width: 1100px;
		position: relative;
		color: $main-white;
	}

	.simulator-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 60px;
		margin-top: 90px;
		padding: 40px;
		background: $main-gradient;
		border-radius: 20px;
		width: 500px;
		max-width: 100%;
		animation: all 2s ease-in-out;
		overflow: hidden;
		box-shadow: $main-shadow;
		fieldset {
			border: 1px solid $main-white;
			border-radius: 10px;
			width: 100%;
		}
		legend {
			font-size: 1.1rem;
			margin: 15px 0;
		}
		label {
			font-size: 1.2rem;
		}
		.btn-container {
			display: flex;
			justify-content: space-between;
		}
		button {
			@include mainBtn(
				50px,
				150px,
				$main-white,
				rgb(225, 225, 225),
				$main-black
			);
			box-shadow: $main-shadow;
			justify-content: space-evenly;
			font-size: 1.2rem;
			font-weight: 400;
		}
		.icon {
			font-size: 1.8rem;
		}
	}

	#params {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		.btn-container {
			justify-content: flex-end;
			width: 100%;
		}
		button {
			width: 220px;
			margin-top: 30px;
		}
		label {
			margin-left: 20px;
		}
		input[type="radio"] {
			display: none;
		}
		input[type="radio"] + label {
			display: flex;
			align-items: center;
		}
		input[type="radio"] + label::before {
			content: "";
			display: flex;
			justify-content: center;
			align-items: center;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: $main-white;
			margin-right: 30px;
			box-shadow: $main-shadow;
			border: 1px solid $dark-white;
			cursor: pointer;
		}
		input[type="radio"]:checked + label::before {
			background-color: $main-black;
			border: 2px solid $main-white;
		}

		input[type="checkbox"] {
			display: none;
		}
		input[type="checkbox"] + label {
			display: flex;
			align-items: center;
		}
		input[type="checkbox"] + label::before {
			content: "";
			display: flex;
			justify-content: center;
			align-items: center;
			width: 18px;
			height: 18px;
			border-radius: 3px;
			background-color: $main-white;
			margin-right: 30px;
			box-shadow: $main-shadow;
			border: 1px solid $dark-white;
			cursor: pointer;
		}
		input[type="checkbox"]:checked + label::before {
			content: "🗸";
			line-height: 100%;
			font-weight: bold;
			text-align: center;
			background-color: $main-black;
			color: $main-white;
			font-size: 1rem;
			border: 1px solid $main-white;
		}
	}
	#grades {
		width: 600px;
		padding-left: 60px;
		padding-right: 60px;
		h2 {
			margin-bottom: 15px;
		}
		input {
			text-align: center;
			border: none;
			margin: 0;
			font-size: 1.3rem;
			outline: 0px solid rgba($main-black, 0.5);
			height: 50px;
			width: 100%;
			border: none;
			color: $main-black;
			background-color: $main-white;
			&:focus {
				outline: 0px solid $main-black;
				// border-right: 2px solid $main-black ;
				border-left: 2px solid $main-black;
			}
		}
		.error {
			margin-top: 20px;
		}
		label {
			font-size: 1.05rem;
		}
		table {
			width: 100%;
			max-width: 100%;
			border-collapse: collapse;
		}
		th,
		td {
			border: 1px solid $main-black;
		}
		th {
			padding: 10px;
			font-size: 1.1rem;
			text-align: center;
		}
		td {
			padding: 0 10px;
		}
		thead {
			text-align: left;
		}
		tbody tr td:nth-child(2) {
			text-align: center;
			font-size: 1.2rem;
		}
		tbody tr td:nth-child(3) {
			text-align: center;
			font-size: 1.2rem;
			padding: 0;
			width: 70px;
		}
		.btn-container {
			margin-top: 30px;
			width: 100%;
		}
	}
	#result {
		justify-content: center;
		align-items: flex-start;
		h2 {
			font-size: 1.5rem;
		}
		p {
			font-size: 1.2rem;
			margin: 0;
		}

		button {
			margin-top: 30px;
			align-self: center;
		}
		ul {
			padding-left: 15px;
		}
	}
}
