// Breakpoints
$laptop: "(min-width:768px) and (max-width:1024px)";
$tablet: "(min-width:425px) and (max-width:768px)";
$mobileL: "(min-width:375px) and (max-width:425px)";
$mobileM: "(min-width:320px) and (max-width:375px)";
$mobileS: "(max-width: 320px)";

// Variables
$nav-height: 60px;
$form-width: 500px;
$main-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
$orange: #ff9f43;
$white: white;
$black: black;
$main-white: #f1f1f1;
// $dark-white: #cfcfcf;
$dark-white: #bebebe;
$main-gray: #5e6268;
$light-black: #222222;
$main-black: #1b1b1b;
$main-blue: #74b9ff;
// $dark-blue: #217dda;
$dark-blue: #3568ff;
$darkest-blue: #255af8;
$dark-mode-blue: #1a202c;

$main-green: rgb(32, 233, 122);
$main-red: rgb(241, 44, 44);
$dark-red: rgb(160, 22, 22);
$main-yellow: #ffdd00;
$main-pink: #bb24a7;

$bg-dark: #101010;
$bg-dark-2: #1b1b1b;

$main-orange: #f02d51;
$light-orange: #f2721a;
$light-orange-hover: #d66214;

$main-gradient: linear-gradient(90deg, $main-orange 1.05%, $light-orange 100%);

$main-border: 1px solid rgba(127, 127, 127, 0.3);
