@import "../scss/extends";
@import "../scss/mixins";
@import "../scss/variables";
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: $main-black;
    color: $main-white;
    border-top:1px solid rgba(white,.4);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}