@import "@scss/imports/extends";
@import "@scss/imports/mixins";
@import "@scss/imports/variables";

.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   height: 150px;
   padding: 30px 0;
   background-color: $bg-dark-2;
   color: $main-white;
   border-top: 1px solid rgba(white, 0.4);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
