@import "@scss/imports/extends";
@import "@scss/imports/mixins";
@import "@scss/imports/variables";
.nav {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   position: relative;
   height: $nav-height;
   min-height: $nav-height;
   padding: 0px $nav-height;
   margin-top: 0px;
   width: 100%;
   background-color: inherit;
   box-shadow: $main-shadow;
   border-bottom: $main-border;
   .responsiveIcon {
      font-size: 2rem;
      margin-right: 20px;
   }

   .responsiveIcon {
      display: none;
      cursor: pointer;
   }
   .navLogo {
      font-size: 1.5rem;
      font-weight: bold;
      margin-right: auto;
      text-decoration: none;
      cursor: pointer;
   }
   .link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: relative;
      text-decoration: none;
      font-size: 1.1rem;
      margin: 0 30px 0 15px;
      border: none;
   }
   .basicLink {
      transition: opacity 0.1s ease-in;
      &:hover {
         opacity: 0.9;
      }
      &::before {
         content: "";
         display: flex;
         position: absolute;
         bottom: 0;
         height: 3px;
         width: 60%;
         border: 1px solid $main-orange;
         border-radius: 20px 20px 0 0;
         background-color: $main-orange;
         opacity: 0;
         transition: opacity 0.1s ease-in;
      }
      &:hover::before {
         opacity: 1;
      }
   }
   .dropdownBtn {
      display: flex;
      align-items: center;
      position: relative;
      height: 75%;
      width: 180px;
      padding: 0 30px;
      margin: 0 15px;
      border: $main-border;
      border-radius: 5px;
      line-height: 0;
      text-decoration: none;
      transition: all 0.2s;
      cursor: pointer;
      .dropdownBtnContent {
         display: flex;
         align-items: center;
         height: 100%;
         width: 100%;
      }
      .dropdownIcon {
         margin-left: 10px;
         font-size: 1.2rem;
      }
      &:hover {
         background-color: rgba(127, 127, 127, 0.1);
      }
   }
   .dropdownContent {
      position: absolute;
      top: calc(0.7 * 60px);
      z-index: 100;
      right: 0;
      min-width: 180px;
      border-radius: 6px;
      border: $main-border;
      ul {
         list-style-type: none;
         border-radius: 6px;
         box-shadow: $main-shadow;
         padding: 0;
         margin: 0;
         // background-color: inherit;
         li {
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            transition: all 0.2s;
            height: 2.5rem;
            // color: $main-black;
         }
         li:hover {
            border-radius: 6px;
            background-color: rgba(127, 127, 127, 0.1);
         }
         li .dropdownLink {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: space-evenly;
            align-items: center;
            text-decoration: none;
            color: inherit;
         }
      }
   }

   .dashboardIcon {
      font-size: 2.5rem;
      // color: $main-;
      cursor: pointer;
      margin-right: 40px;
   }
   .darkModeIcon {
      margin-left: $nav-height;
      cursor: pointer;
   }
}
.btnLink {
   @include mainBtn(
      70%,
      180px,
      $light-orange,
      $light-orange-hover,
      $main-white
   );
   height: 70% !important;
   margin: 0 30px 0 15px;
   display: flex;
}
@media screen and (max-width: 768px) {
   .btnLink {
      font-size: 1.2rem;
      height: 40px !important;
      width: 100%;
      margin: 0;
      border-radius: 0;
      &:hover {
         filter: grayscale(15%);
      }
   }
}
@media screen and (max-width: 1100px) {
   .nav {
      .responsiveIcon {
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
}
