@import "@scss/imports/extends";
@import "@scss/imports/mixins";
@import "@scss/imports/variables";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.landing {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 1;
   padding: 0;
   overflow-x: hidden;
   min-height: calc(100vh - 150px - 60px);
   font-family: "Roboto", sans-serif;
   .barSection {
      @include bar(2px, 100%, $light-orange, $main-orange);
   }
   .landingMain {
      display: flex;
      justify-content: center;
      max-width: 1100px;
      width: 90%;
      margin: 0 auto;
      padding: 30px 0;
      overflow-x: hidden;
   }
   .landingMain_left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.8rem;
      width: 50%;
      h1 {
         text-align: left;
         font-size: 2rem;
      }
      h2 {
         margin: 20px 0 0 0;
         font-size: 1.5rem;
      }

      p {
         font-size: 1rem;
         line-height: 1.8rem;
         text-align: justify;
         margin-bottom: 20px;
      }
      .bar {
         @include bar(5px, 150px, $light-orange, $main-orange);
         margin: 20px 0;
      }
   }

   .btnContainer {
      display: flex;
      width: 100%;
      column-gap: 20px;
      margin: 0 0 30px 0;
      justify-content: space-around;
      .btn1 {
         @include btn($nav-height, 100%, $light-orange, $main-orange);
      }
      .btn2 {
         @include btnBorder($nav-height, 100%, $light-orange, $main-orange);
      }
   }
   .overview {
      background-color: $bg-dark-2;
      width: 100%;
      padding-bottom: $nav-height;
      border-bottom: 2px solid rgba(255, 255, 255, 0.192);
      .wrapper {
         display: flex;
         flex-direction: column;
         align-items: center;
         max-width: 1100px;
         margin: 0 auto;
      }
      h3 {
         display: flex;
         align-items: center;
         font-size: 2rem;
         align-self: flex-start;
         margin-left: $nav-height;
         .bar {
            margin: 0px 30px 0px 0px;
            @include bar(5px, 100px, $light-orange, $main-orange);
         }
      }
      .articleContainer {
         display: flex;
         width: 100%;
         justify-content: space-evenly;
         flex-wrap: wrap;
         gap: 30px;
         padding: 0 $nav-height;
      }
   }

   .landingSections {
      position: relative;
      width: 100%;
   }
}
.landingMain_right {
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   padding-left: 60px;
   img {
      max-width: 500px !important;
   }
}
.simulateur {
   align-self: flex-end;
   justify-self: flex-end;
}
.bgRect {
   position: absolute !important;
   opacity: 0.15;
   z-index: 0;
}
.bgRect1 {
   top: 140px;
   // left:60px;
}
.bgRect2 {
   bottom: 0;
   right: 0;
}
.our-goals {
   margin-top: 30px;
}
@media screen and (max-width: 930px) {
   .our-goals {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      .bar {
         margin-right: 0 !important;
         align-self: flex-start;
      }
   }
}
@media screen and #{$laptop} {
   .landingMain {
      height: 650px;
      padding: 0 90px !important;
   }
   .landingMain_left {
      width: 300px;
   }
   .btnContainer {
      flex-direction: column;
      //   height: 150px;
      justify-content: space-around;
      .btn1 {
         @include btn($nav-height, 100%, $light-orange, $main-orange);
      }
      .btn2 {
         @include btnBorder($nav-height, 100%, $light-orange, $main-orange);
      }
   }
}

@media screen and (max-width: 1024px) {
   .landingMain {
      flex-direction: column;
      align-items: center;
      height: auto;
   }

   .landingMain_left {
      width: 90% !important;
   }
   .landingMain_right {
      flex-direction: row !important;
      padding-left: 0 !important;
      margin: 0 0 30px 0 !important;
   }
   .landingMain_right img {
      width: 90% !important;
      //   max-width: 90%;
   }
   .btnContainer {
      //   height: 200px;
      flex-direction: row;
      row-gap: 30px;
      width: 100%;
   }
   .landing h1 {
      margin-top: 30px;
   }
}
@media screen and (max-width: 768px) {
   .btnContainer {
      flex-direction: column;
   }
}
