@import "../../scss/imports/extends";
@import "../../scss/imports/mixins";
@import "../../scss/imports/variables";

.overviewArticle {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	.icon {
		font-size: 6rem;
		filter: drop-shadow(0 0 7px #7b7b7b74);
	}
	h4 {
		font-size: 1.3rem;
		margin: 15px 0;
		align-self: flex-start;
	}
	p {
		text-align: justify;
		line-height: 1.6rem;
	}
}
@media screen and (max-width:430px) {
	.overviewArticle {
		width: 100%;
	}
}