@import "./imports/extends";
@import "./imports/mixins";
@import "./imports/variables";

#landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	flex-grow: 1;
	padding: 0 60px;
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 200px;
		height: 50px;
		&:hover {
			background-color: $main-white;
		}
	}
}
.container {
	display: flex;
	height: auto;
}
.classement {
	font-size: 3rem;
}
.total {
	height: 100%;
	font-size: 1rem;
	align-self: flex-end;
	margin-bottom: 55px;
}
