@import "./imports/extends";
@import "./imports/mixins";
@import "./imports/variables";
#nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	height: $nav-height;
    min-height:$nav-height;
	padding: 0px $nav-height;
	margin-top: 0px;
	width: 100%;
	background-color: $main-white;
	color: $main-black;
	box-shadow: $main-shadow;
	.responsive-icon {
		font-size: 2rem;
		margin-right:20px;
	}
	.hamburger-active {
		color: red;
	}
	.responsive-icon {
		display:none;
		cursor: pointer;
	}
}
.nav-logo {
	font-size: 1.5rem;
	font-weight: bold;
	margin-right: auto;
	text-decoration: none;
	cursor: pointer;
	color: $main-black;
}
.link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
	color: $main-gray;
	text-decoration: none;
	font-size: 1.1rem;
	margin: 0 30px 0 15px;
	border: none;
}
.basic-link {
	transition: color .1s ease-in;
	&:hover {
		color: $main-black;
	}
	&::before {
		content:"";
		display: flex;
		position: absolute;
		bottom:0;
		height: 3px;
		width: 60%;
		border: 1px solid $main-blue;
		border-radius: 20px 20px 0 0;
		background-color: $main-blue;
		opacity: 0;
		transition: opacity .1s ease-in;
	}
	&:hover::before {
		opacity:1;
	}
}
.dropdown-btn {
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.2s;
	height: 75%;
	width: 180px;
	padding: 0 30px;
	margin: 0 15px;
	color: $main-black;
	border: 1px solid $dark-white;
	border-radius: 5px;
	line-height:0;
	cursor: pointer;
	.dropdown-btn-content {
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;
	}
	.dropdown-icon {
		margin-left: 10px;
		font-size: 1.2rem;
	}
	&:hover {
		background-color: rgba($main-black, 0.05);
	}
}
.dropdown-content {
	position: absolute;
	top: calc(0.7 * 60px);
	right: 0;
	min-width: 180px;
	ul {
		list-style-type: none;
		background-color: $white;
		border-radius: 6px;
		box-shadow: $main-shadow;
		padding:0;
		margin: 0;
		li {
			display: flex;
			justify-content: center;
			width: 100%;
			align-items: center;
			transition: all 0.2s;
			height: 2.5rem;
			color: $main-black;
		}
		li:hover {
			border-radius: 6px;
			background-color: rgba($dark-blue, .1);
		}
		li .dropdown-link {
			display: flex;
			width: 100%;
			height: 100%;
			justify-content: space-evenly;
			align-items: center;
			text-decoration: none;
			color: inherit;
		}

	}
}
.btn-link {
	display: flex;
	align-items: center;
	justify-content:center;
	background-color: $dark-blue;
	color: $main-white;
	font-weight:bold;
	font-family: sans-serif;
	width: 180px;
	height: 70%;
	border-radius: 6px;
	margin: 0 30px 0 15px;
	border: none;
	transition: background-color .2s ease-in;
	&:hover {
		background-color: $darkest-blue;
	}
}
.dark-mode-icon {
	margin-left: $nav-height;
	cursor: pointer;
}

@media screen and (max-width:1024px) {
	#nav .btn-link {
		font-size: 1rem;
	}
	#nav .responsive-icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}