@import "./imports/extends";
@import "./imports/mixins";
@import "./imports/variables";
#side-nav {
    display: flex;
    flex-direction: column;
    background-color: $main-white;
    color: $main-black;
    height: 100%!important;
    width: 300px;
    max-width: 100%;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    // bottom:0;
    margin-left:-301px;
    transition: margin-left .2s ease-in;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .close-icon {
        font-size: 2rem;
        cursor: pointer;
    }
    .bar {
        width: 100%;
        height: 1px;
        padding:0;
        margin:0;
        background-color: rgba(black,.2);
    }
    h2 {
        display: flex;
        align-items: center;
        margin: 0;
        padding:15px;
        .close-icon {
            display: flex;
            margin-right: 20px;
        }
    }
    .responsive-link {
        display: flex;
        align-items: center;
        min-height: $nav-height;
        padding: 10px 20px;
        color: $main-black;
        text-decoration: none;
        text-transform: none;
        &:hover {
            background-color: rgba($main-black, 0.05);
        }
    }
    .responsive-icon {
        font-size: 1.5rem;
        margin-right: 20px;
        font-size: 1.5rem;
    }
    .responsive-link-stats-container {
        display: flex;
        flex-direction: column;
        h3 {
            color: $darkest-blue;
            padding:0px 20px;
            margin-bottom:10px;
        }
        .responsive-link-stats {
            padding: 10px 20px;
            display: flex;
            align-items: center;
            height: 0.7*$nav-height;
            width: 100%;
            color: $main-black;
            text-decoration: none;
            font-size: 1.2rem;
            &:hover {
                background-color: rgba($main-black, 0.05);
            }
        }
    }
    .log-in-link {
        font-size: 1.5rem;
    }
}